venv/
__pycache__/
*.pyc
contatos.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store
